* {
    box-sizing: border-box;
}

html,
body {
    background-color: #eee;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto", Verdana;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #eee;
}

#loader:not(.on),
#photo:not(.on) {
    display: none;
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-webkit-keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

#photo {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    padding: 67px 41px 0 0;
    left: 0;
    text-align: center;
}

#download {
    margin: 0 32px;
    top: 50%;
    position: relative;
    padding: 40px 0;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
    max-width: 1354px;
}

@media all and (min-width: 1425px) {
    #download {
        width: 1362px;
        margin-left: auto;
        margin-right: auto;
    }
}

#download .left {
    padding: 32px;
}

#download .instructions {
    font-size: 3em;
    margin: 0 0 24px 0;
}

#download .why {
    font-size: 2em;
    font-weight: 300;
}

#download .right {
    padding: 0px 100px 0 50px;
    position: relative;
}

#download canvas {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#download .download-button {
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 180px;
    height: 50px;
    margin-top: 16px;
    display: blocK;
    border: none;
    background-color: #F44336;
    color: white;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

#download .download-button:hover {
    background-color: #D32F2F;
}

#download .download-button:active {
    background-color: #B71C1C;
}

#photo span {
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-bottom: 27px;
}
